<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-07-15T12:21:14Z</date>
	<key>WorkspacePath</key>
	<string>/Users/maleo/Documents/Work/dexter_health/01_shift_handover_challenge/ios/Runner.xcworkspace</string>
</dict>
</plist>
